@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playball&display=swap');
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header, footer {
    background-color: rgb(195, 132, 253);
    color: #fff;
    padding: 10px;
    text-align: center;
}
#head{
    font-family: "Courgette", cursive;
}
main {
    display: flex;
    flex: 1;
    padding: 20px;
}

aside {
    width: 25%;
    padding: 20px;
    background-color: #f4f4f4;
}

section {
    width: 75%;
    padding: 20px;
}
section h2{
    font-family: "Courgette", cursive;
}
section p{
    columns: 2;
    width: 80%;
    margin-bottom: 30px;
}
section ul {
   margin-left: 780px;
    position: absolute;
    margin-top: 100px;
    font-family: "Courgette", cursive;
    font-size: 150%;
}
footer {
    text-align: center;
    font-family: "Courgette", cursive;
}